# Django/Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
db.sqlite3
/media/
/staticfiles/   <--- This is the static files directory                                 

*.pyc
venv/
.env/

# IDE/Editor
.vscode/
.idea/
# Logs
*.log